<div class="">
    <div class="image-wrapper">
        <div class="image">
            <div class="text-center px-4 py-5 ">
                <div class="row justify-content-between marg g-5 py-5 back">
                    <div class="col-6 slide">
                        <h2>Progetti</h2>
                        <p>Questa sezione è dedicata ai progetti svolti fino a questo momento, con una descrizione
                            e alcuni dati utili.
                        </p>
                        <button class="button-30" routerLink="/projects">Progetti</button>
                    </div>
                    <div class="col-6 slide2">
                        <h2>Contattami</h2>
                        <p>Per un incontro conoscitivo o per un colloquio potete contattarmi direttamente qua.
                            E scaricare il mio CV <a href="assets/pdf/Alessandro_FullStack _Developer_CV.pdf"
                                download>qui
                            </a>.
                        </p>
                          <app-contact-form-modal></app-contact-form-modal>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="position-relative">
        <div class="text-center size-text  back2">
            Tecnologie usate per i progetti
        </div>
    </div>
    <div class="image-2 ">
        <div class="container px-4 padding-logos ">
            <div class="row justify-content-evenly marg2 g-5">
                <div class="col-12 col-sm-12 col-md-12 col-lg-2 p-0 text-center">
                    <h2 class="rotatingText-adjective"></h2>
                    <img [src]="currentAdjective.logo" alt="{{ currentAdjective.name }}" class="tech_logos" />
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-2 p-0 text-center">
                    <h2 class="rotatingText-adjective"></h2>
                    <img [src]="currentAdjective2.logo" alt="{{ currentAdjective2.name }}" class="tech_logos " />
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-2 p-0 text-center">
                    <h2 class="rotatingText-adjective"></h2>
                    <img [src]="currentAdjective3.logo" alt="{{ currentAdjective3.name }}" class="tech_logos" />
                </div>
            </div>
            <div class="text-center">
                <button class="button-30 button-space" role="button" routerLink="/projects">Scopri</button>
            </div>
        </div>
    </div>

    <div class="position-relative">
        <div class="text-center size-text back-about">
            Qualcosa su di me
        </div>

    </div>

    <div class="bg-secondary relative">
        <video autoplay loop muted playsinline class="video_cod ">
            <source src="assets/video/video_cod3.mp4" type="video/mp4">
            Il tuo browser non supporta il tag video.
        </video>
        <div class="">
            <div class="row m-0">
                <div class="col-12 col-md-6 col-lg-6 p-0  ">
                    <div class="relative" style="z-index: 1;">
                        <img src="assets/img/hero1.jpg" class="img-des " alt="">
                        <div id="des" class="description d-flex flex-column  ">
                            <div class="width-50">
                                <h1>Alessandro Mazzocchi</h1>
                                <p>Nato a <span>Spoleto</span> il 10/07/1997</p>
                            </div>
                            <div class="description-par">Sono una persona dinamica e ambiziosa.

                                Sono sempre alla ricerca di opportunità per
                                migliorare le mie capacità e crescere professionalmente, mi impegno ad apportare un
                                contributo positivo in ogni contesto lavorativo.

                                Sono estremamente motivato a sviluppare costantemente le mie competenze.
                                Credo nel
                                valore della collaborazione e trovo molto stimolante il lavoro di gruppo per i benefici
                                che comporta.

                                Il confronto e lo scambio di idee sono sempre alla base della crescita
                                personale e professionale. </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 p-0 relative index">
                    <div class="text-center">
                        <div class="d-flex flex-column gap-3">
                            <div>
                                <img src="assets/img/profile.jpeg" class="img-profile" alt="">
                            </div>
                            <div class="">
                                <button class="button-30" role="button" routerLink="/about">About me</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button id="topButton" title="Torna in cima" (click)="topFunction()">Top</button>
    <button class="button">
      <svg class="svgIcon" viewBox="0 0 384 512">
        <path
          d="M214.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 141.2V448c0 17.7 14.3 32 32 32s32-14.3 32-32V141.2L329.4 246.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-160-160z"
        ></path>
      </svg>
    </button>
</div>
