<div class="image">
    <div class="container  px-4 py-5 ">
        
        <div class="row justify-content-between marg g-5 py-5 ">
            <div class="col-1 ">
                <h2 class="rotatingText-adjective"></h2>
                    <img [src]="currentAdjective4.logo" alt="{{ currentAdjective4.name }}" class="tech_logos" />
                    
            </div>
            <div class="col-1 ">
                <h2 class="rotatingText-adjective"></h2>
                    <img [src]="currentAdjective2.logo" alt="{{ currentAdjective2.name }}" class="tech_logos" />
                    
            </div>
            <div class="col-1 ">
                <h2 class="rotatingText-adjective"></h2>
                    <img [src]="currentAdjective3.logo" alt="{{ currentAdjective3.name }}" class="tech_logos" />
                    
            </div>
        </div>
    </div>
</div>
<div class="position-relative">
    <div class="banner py-5">
        <p></p>
    </div>
    
</div>
<div class="image-2">
    <div class="container col-xl-10 col-xxl-8 px-4 py-5">
        <div class="row align-items-center g-lg-5 py-5">
            <div class="col-md-10 mx-auto col-lg-5 opacity-50">
                
            </div>
            <div class="col-lg-7 text-end align-items-end">
                <div class="text-white">
                    
                </div>
            </div>
        </div>
    </div>
</div>
<div class="position-relative">
    <div class="banner py-4">
        <p></p>

    </div>
</div>
<div class="image-3 ">
    <div class="container col-xxl-8 px-4  caption-2">
        <div class="row flex-lg-row-reverse align-items-center g-5 ">
            <div class="col-10 col-sm-8 col-lg-6">
                <div class="d-flex flex-column gap-2 d-md-flex justify-content-md-end align-items-end">
                    
                </div>
            </div>
            <div class="col-lg-6 text-center ">

                

            </div>
        </div>
    </div>
</div>

<div>
    <div class="vid">
        <!--
        <div>
            <video autoplay muted loop id="background-video">
                <source src="/assets/video/coding.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <img src="/assets/img/3F3C93C5-9A0E-4DB6-9ED4-C390E15CA6C2.JPG" width="400px" height="600px" class="p-1" alt="">
        <span class="rotatingText-adjective ms-3">{{ currentAdjective2 }}</span>
        -->


        <div class="bg-secondary">
            <div class="">
                <div class="row m-0">
                    <div class="col-6 p-0 me-4">
                        <img src="assets/img/hero3.jpg" class="hero " alt="">
                    </div>
                    <div class="col-4 p-0">
                        <div #rotatingText class="rotatingText mt-5">
                            <div class="rotatingText-content">
                              <p class="rotatingText-description">I'll make your program&hellip;</p>
                              <h2 class="rotatingText-adjective" *ngFor="let adjective of adjectives">{{ adjective }}</h2>
                            </div>
                          </div>
                        <!--<div class="rotatingText mt-5">
                            <div class="rotatingText-content">
                                <p class="rotatingText-description">
                                    I'll make your program&hellip;
                                </p>
                                <h2 class="rotatingText-adjective">Full Stack Developer</h2>
                                <h2 class="rotatingText-adjective">BackEnd Developer</h2>
                                <h2 class="rotatingText-adjective">FrontEnd Developer</h2>
                                <h2 class="rotatingText-adjective">Java Developer</h2>
                                <h2 class="rotatingText-adjective">Full Stack Developer 👌</h2>
                                <h2 class="rotatingText-adjective"><button class="button-30" role="button" routerLink="/about">About me</button></h2>
                                
                            </div>
                        </div> -->
                        
                        <div class="text-center">
                            <img src="assets/img/profile.jpeg" height="500" alt="">
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

                        <div class="col-md-4">
                            <h2>Feature 2</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et sem vel ipsum tristique
                                convallis.</p>
                        </div>
                        <div class="col-md-4">
                            <h2>Feature 3</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et sem vel ipsum tristique
                                convallis.</p>
                        </div>
                        <div class="col-md-4">
                            <h2>Feature 1</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et sem vel ipsum tristique
                                convallis.</p>
                        </div>
                        <div class="col-md-4">
                            <h2>Feature 2</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et sem vel ipsum tristique
                                convallis.</p>
                        </div>
                        <div class="col-md-4">
                            <h2>Feature 3</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et sem vel ipsum tristique
                                convallis.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Bottone "Torna in cima" -->
<button onclick="topFunction()" id="topButton" title="Torna in cima">Top</button>
