<div class="row m-0 mb-2">
  <div class="col-12 col-sm- col-md-6 p-0 ">
    <div class="relative">
      <img src="assets/img/macchine.PNG"  alt="" class="img-fluid">
      <div class="col-12 description">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae odio nemo sint laboriosam mollitia, magnam numquam saepe, itaque porro veritatis laborum ducimus quibusdam tempora ut aperiam perspiciatis eaque nesciunt autem?</p>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 p-0 m-0">
    <div class="container">
      <div class="d-flex flex-column gap-4">
        <h3 class="heading">This Project in Numbers</h3>
        <div class="counter">
          <div class="item">
            <p class="number">{{ counters['number1'] }}</p>
            <p class="label">Hours coding</p>
          </div>
          <div class="item">
            <p class="number">{{ counters['number2']}}&#37;</p>
            <p class="label">Angular</p>
          </div>
          <div class="item">
            <p class="number">{{ counters['number3'] }}&#37;</p>
            <p class="label">Typescript</p>
          </div>
          <div class="item">
            <p class="number">{{ counters['number4']  }}&#37;</p>
            <p class="label">HTML &#38; CSS</p>
          </div>
          <div class="item">
            <p class="number">{{ counters['number5'] }}</p>
            <p class="label">Cups of coffee</p>
          </div>
      </div>
      <div class="text-center">
        <a href="" target="_blank">Link a GitHub</a>
      </div>
      </div>

    </div>
  </div>
</div>

<div class="row m-0  mt-2">
  <div class="col-12 col-md-6 p-0 ">
    <div class="relative">
      <img src="assets/img/list.PNG"  class="img-fluid" alt="">
      <div class="col-12 description">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae odio nemo sint laboriosam mollitia, magnam numquam saepe, itaque porro veritatis laborum ducimus quibusdam tempora ut aperiam perspiciatis eaque nesciunt autem?</p>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6 p-0 m-0">
    <div class="container">
      <div class="d-flex flex-column gap-4">
        <h3 class="heading">This Project in Numbers</h3>
        <div class="counter">
          <div class="item">
            <p class="number">{{ counters['number6'] }}</p>
            <p class="label">Hours coding</p>
          </div>
          <div class="item">
            <p class="number">{{ counters['number7']}}&#37;</p>
            <p class="label">Angular</p>
          </div>
          <div class="item">
            <p class="number">{{ counters['number8'] }}&#37;</p>
            <p class="label">Typescript</p>
          </div>
          <div class="item">
            <p class="number">{{ counters['number9']  }}&#37;</p>
            <p class="label">HTML &#38; CSS</p>
          </div>
          <div class="item">
            <p class="number">{{ counters['number10'] }}</p>
            <p class="label">Cups of coffee</p>
          </div>
      </div>
<div class="text-center">
  <a href="" target="_blank">Link a GitHub</a>
</div>
      </div>

    </div>
  </div>
</div>


