<div class="row m-0 mb-2 mt-2 ms-3">
    <div class="col-5 p-0 ">
        <img src="assets/img/macchine.PNG" height="400" width="750" alt="">
    </div>
    <div class="col-6 p-0 m-0">
        <div class="card">
            <div class="card-body">
                <h5 class="d-flex align-items-center mb-3">Project Technologies</h5>
                <p>HTML</p>
                <div class="progress mb-3" style="height: 5px">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: 80%"
                        aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p>CSS</p>
                <div class="progress mb-3" style="height: 5px">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 72%"
                        aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p>TypeScript</p>
                <div class="progress mb-3" style="height: 5px">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 89%"
                        aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p>Angular</p>
                <div class="progress mb-3" style="height: 5px">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 55%"
                        aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                
            </div>
        </div>
    </div>
</div>

<div class="row m-0 mb-2 mt-2">
    <div class="col-5 p-0 m-0">
        <img src="assets/img/list.PNG" height="400" alt="">
    </div>
    <div class="col-6 p-0 m-0">
        <div class="container">
            <div class="box">
              <div class="shadow"></div>
              <div class="content">
                <div class="percent" data-text="TS" style="--num: 90">
                  <div class="dot"></div>
                  <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70"></circle>
                  </svg>
                </div>
                <div class="number">
                  <h2>90<span>%</span></h2>
                </div>
              </div>
            </div>
          
            <div class="box">
              <div class="shadow"></div>
              <div class="content">
                <div class="percent" data-text="Angular" style="--num: 50">
                  <div class="dot"></div>
                  <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70"></circle>
                  </svg>
                </div>
                <div class="number">
                  <h2>50<span>%</span></h2>
                </div>
              </div>
            </div>
          
            
          </div>
    </div>
</div>